# Sistema Operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales
*.tmp
*.bak
*.swp
*~

# Archivos de respaldo
*.backup

# Node modules (por si alguien instala algo accidentalmente)
node_modules/

# Logs
*.log
